@charset "UTF-8";
/* CSS Document */

* {
  transition: all .1s;
  user-select: none;
}

body {
  background: rgb(19, 18, 32);
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  color: white;
}
h1 {
  margin: 0;
  padding: 0;
  font-family: 'Aldrich', sans-serif;
}
h2 {
  margin: 3px;
  padding: 5px;
}
h4 {
  margin: 0;
  padding: 5px;
}
h6 {
  margin: 0;
}
a {
  color: white;
  text-decoration: none;
}

b {
  font-size: 0.5em;
}

Strong {
  color: silver;
}

header {
  background: rgb(40, 38, 73); /* rgb(255, 115, 0); */
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid silver;
  margin-bottom: 15px;
  z-index: 999;
}

.Logo {
  width: 280px;
  height: 50px;
  padding: 8px;
  margin-left: 40px;
  float: left;
  font-size: 2em;
  font-family: 'Aldrich', sans-serif;
}

#ToolBar {
  width: 1200px;
  height: 40px;
  margin: auto;
}

.navBar {
  background: none;
  height: 50px;
  width: 835px;
  float: left;
  font-size: 1.2em;
}
.navBar > ul {
  list-style: none;
  margin: 0;
  width: auto;
}
.navBar > ul li {
  float: left;
  margin-left: 3px;
  padding: 18px;

}
.navBar > ul li a {
  text-decoration: none;
  color: white;
}
.navBar > ul li a:hover{ color: rgb(225, 225, 225); }
.navBar > ul li a:active{ color: silver; }

footer {
  width: 1170px;
  min-height: 40px;
  background: rgb(40, 38, 73);
  margin: auto;
  padding: 15px;
  text-align: center;
  border-bottom: 3px solid silver;
}

#wrapper {
  background: none;
  width: 1200px;
  min-height: 675px;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 20px;
}

iframe {
  background: gray;
  width: 1200px;
  height: 675px;
  border: 0;
  margin: 0 auto;
  margin-bottom: 15px;
  border-bottom: 3px solid silver;
}

#item {
  background: rgb(40, 38, 73);
  width: 1170px;
  min-height: 200px;
  margin: auto;
  border-bottom: 3px solid silver;
  margin-bottom: 15px;
  padding: 15px;
}

#i {
  background: none;
  width: auto;
  height: 190px;
  padding: 15px;
  text-align: center;
}


#itemIndex {
  border-top: 3px solid silver;
  width: auto;
  height: 980px;
  margin-top: 25px;
  margin-bottom: 20px;
}

.mPlayBtn {
  background: none;
  width: 533px;
  height: 30px;
  padding: 25px;
  margin: 0 auto;
  margin-bottom: 35px;
}
#mSpan {
  background: white;
  padding: 10px;
  padding-left: 35px;
  padding-right: 35px;
  color: rgb(40, 38, 73);
  font-size: 1.8em;
  cursor: pointer;
}
#mSpan:hover {
  background: rgb(40, 38, 73);
  color: white;
  border: 1px solid white;
}
#mSpan:active {
  background: rgb(19, 18, 32);
}

.info {
  width: 525px;
  height: 60px;
  margin: auto;
  padding: 8px;
  text-align: center;
  font-size: 0.8em;
}

.refferal {
  background: none;
  width: auto;
  height: 140px;
  padding: 15px;
  border-top: 3px solid silver;
}

.image {
  width: 260px;
  height: 140px;
  float: left;
  margin-right: 30px;
}

.Desc {
  background: none;

  width: 545px;
  height: 130px;
  float: left;
  padding: 5px;
  margin: 0;
  text-align: center;
}

.rPlayBtn {
  background: none;
  width: 245px;
  height: 120px;
  float: left;
  margin-left: 30px;
  padding-top: 20px;
}

#rBtn {
  background: white;
  width: 269px;
  height: 90px;
  font-size: 1.3em;
  padding: 5px;
  color: rgb(40, 38, 73);
  border: none;
  outline: none;
}
#rBtn:hover {
  background: rgb(40, 38, 73);
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
#rBtn:active {
  background: rgb(19, 18, 32);
}

.slots {
  background: rgb(0, 0, 0);
  width: 272px;
  height: 220px;
  float: left;
  margin: 10px;
  border-bottom: 3px solid silver;
}

.slots:hover .slot-bg {
  display: block;
  cursor: pointer;
}
.slots:hover .Play {

}

.slots:active .Play {
  background: rgb(29, 28, 55);
}

.slot-bg {
  display: none;
  background: rgb(0, 0, 0, .6);
  height: 220px;
  width: 272px;
  position: relative;
  float: left;
  top: -225px;
}

.Play {
  background: rgb(40, 38, 73);
  text-align: center;
  font-size: 1.2em;
  height: 30px;
  width: 160px;
  padding: 10px;
  position: relative;
  float: left;
  top: 95px;
  left: 45px;
  border-bottom: 3px solid silver;
}


.lic {
  width: auto;
  height: 240px;
  margin: auto;
  text-align: center;
}

#faq {
  text-align: center;
}
.stream {
  text-align: center;
}

#StreamVideo {
  margin-top: 30px;
  width: 1170px;
  height: 665px;
}

#Streamer {
  width: 580px;
  height: 130px;
  padding: 30px;
  margin: auto;
}

#StreamersLogo {
  height: 120px;
  width: 120px;
  background: url(https://yt3.ggpht.com/-TkXFJHWLnqs/AAAAAAAAAAI/AAAAAAAAAAA/-TJ9TGs1BnI/s100-mo-c-c0xffffffff-rj-k-no/photo.jpg);
  background-size: cover;
  padding: 5px;
  float: left;
  border: 1px solid silver;
  margin-right: 60px;
}
#StreamName {
  padding: 45px;
}



.slideshow-containter { /* Слайдер */
  max-width: 1200px;
  height: 284px;
  position: relative;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, .5);
  cursor: pointer;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: .3s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgb(40, 38, 73);
}

.text {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade{
  from{opacity: .4}
  to{opacity: 1}
}
@@keyframes fade {
  from{opacity: .4}
  to{opacity: 1}
}
